{% extends 'news/base.html' %}
{% block title %}{% if object %}Edit Article{% else %}Create Article{% endif %}{% endblock %}
{% block content %}
<div class="col-lg-6 mx-auto">
  <div class="card">
    <div class="card-body">
      <h1 class="h4 mb-3" style="color: #1c3d5a;">{% if object %}Edit Article{% else %}Create Article{% endif %}</h1>
      <form method="post" class="content-form">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">
              {% if object %}Save Changes{% else %}Submit for Review{% endif %}
          </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
